<div class="home-page" ng-controller="IndexController" style="min-height: 500px;">

  <div class="custom-navbar bg-gray">
    <div class="custom-navbar-button left" onclick="openDrawerLeft()"><i class="icon super-navicon-round"></i></div>
    <super-navbar-title>
      Pizzolo Group
    </super-navbar-title>
    <div class="custom-navbar-button right" onclick="openDrawerRight()" side="right"><i class="icon super-more"></i></div>
  </div>
  <div id="announcement-list" class="list">
    <div class="item">
      <h2><b>Venkman</b> <span class="small" style="color: #999; font-size: 13px;">11 Oct - 9:30AM</span></h2>
      <p style="font-size: 15px;">Be on time!</p>
    </div>
    <super-navigate location="users#new_members">
      <div class="button button-block">Add member</div>
    </super-navigate>
  </div>

  <div class="bottom-bar bg-black">
    <div class="announcement-button" style="border-top: 1px solid #EEE; background: #F5F5F5; color: #888; font-weight: bold; text-align: center; padding: 20px; display: block;">Add an announcement</div>
    <div class="swipein-box">

      <div id="leave-btn" class="leave-btn" onclick="showLeaveOptions()"><i class="icon super-close-round"></i></div>
      <div id="break-btn" class="break-btn" onclick="breakTime()"><i class="icon super-coffee"></i></div>
      <div id="unbreak-btn" class="unbreak-btn text-yellow" onclick="finishBreak()"><i class="icon super-android-walk" style="color: #FBD96C;"></i></div>

      <div id="swipe-btn">
        <div id="swipe-handle">swipe</div>
      </div>
    </div>
  </div>

  <div id="leave-options" class="bottom-drawer padding">
    <button class="button button-block">Annual Leave</button>
    <button class="button button-block">I'm not well</button>
    <button class="button button-block">Something unexpected came up</button>
    <button class="button button-block" onclick="hideLeaveOptions()" style="border-bottom: none; color: rgba(255,255,255,0.5);">Cancel</button>
  </div>

</div>

<script>

  window.scrollTo(0, 100);
  window.scrollTo(0, 0);

  var swipeButton = document.getElementById('swipe-btn');
  var swipeHandle = document.getElementById('swipe-handle');
  var startx = 0;
  var dist = 0;
  var leaveButton = document.getElementById('leave-btn');
  var breakButton = document.getElementById('break-btn');
  var unbreakButton = document.getElementById('unbreak-btn');

  function showLeaveOptions() {
    var leaveOptions = document.getElementById('leave-options');
    leaveOptions.style.bottom = "0";
  };

  function hideLeaveOptions() {
    var leaveOptions = document.getElementById('leave-options');
    leaveOptions.style.bottom = "-500px";
  };

  function openDrawerLeft() {
    supersonic.ui.drawers.open("left");
  }

  function openDrawerRight() {
    supersonic.ui.drawers.open("right");
  }

  function showBreakButton() {
    breakButton.style.display = "block";
    leaveButton.style.display = "none";
    unbreakButton.style.display = "none";
  }

  function showUnbreakButton() {
    unbreakButton.style.display = "block";
    leaveButton.style.display = "none";
    breakButton.style.display = "none";
  }

  function showLeaveButton() {
    unbreakButton.style.display = "none";
    leaveButton.style.display = "block";
    breakButton.style.display = "none";
  }

  function breakTime() {
    showUnbreakButton();
    swipeButton.className = "pause";
  }

  function finishBreak() {
    showBreakButton();
    swipeButton.className = "on";
  }

  swipeHandle.addEventListener("touchstart", function(e) {
    var touchobj = e.changedTouches[0];
    startx = parseInt(touchobj.clientX);
    e.preventDefault();
  });

  swipeHandle.addEventListener("touchmove", function(e){
    var touchobj = e.changedTouches[0];
    var dist = parseInt(touchobj.clientX) - startx;
    e.preventDefault();
  });

  swipeHandle.addEventListener("touchend", function(e){
    var touchobj = e.changedTouches[0];
    var dist = parseInt(touchobj.clientX) - startx;
    if (dist > 0) {
      swipeButton.className += " on";
      showBreakButton();
    } else {
      swipeButton.className = "";
      showLeaveButton();
    }
    e.preventDefault();
  });
</script>
