.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.hidden {
  display: none;
}

.bg-black {
  background: #1E1E1E;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.bottom-bar.hack {
  padding-bottom: 50px;
}

.clearfix {
  clear: both;
}

.swipein-box {
  padding: 30px 10px;
  position: relative;
}

#swipe-btn {
  padding: 4px;
  width: 220px;
  height: 80px;
  border: 2px solid rgba(255,255,255,0.2);
  background: transparent;
  margin: 0 auto;
  transition: background 0.2s, border-color 0.2s;
  border-radius: 6px;
  position: relative;
}

#swipe-btn:before {
  content: "out";
  font-weight: bold;
  color: rgba(255,255,255,0.6);
  position: absolute;
  text-align: center;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  line-height: 70px;
  font-size: 28px;
}

#swipe-btn:after {
  content: "in";
  font-weight: bold;
  color: rgba(255,255,255,0.6);
  position: absolute;
  text-align: center;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  line-height: 70px;
  font-size: 28px;
}

#swipe-btn.on {
  background: #FAD044;
  border-color: #FAD044;
}

#swipe-btn.pause {
  background: rgba(255,255,255,0.3);
  border-color: #FAD044;
}

#swipe-handle {
  background: #FFF;
  height: 68px;
  border-radius: 6px;
  width: 105px;
  transition: left 0.2s, color 0.2s;
  position: absolute;
  left: 4px;
  z-index: 2;
  font-weight: bold;
  font-size: 28px;
  color:  #444;
  text-align: center;
  line-height: 64px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

#swipe-btn.on #swipe-handle,
#swipe-btn.pause #swipe-handle {
  left: 50%;
  color: #FAD044;
}

.swipein-box .leave-btn,
.swipein-box .break-btn,
.swipein-box .unbreak-btn {
  position: absolute;
  left: 9%;
  top: 50%;
  color: rgba(255,255,255,0.6);
  font-size: 30px;
  margin-top: -14px;
}

.break-btn, .unbreak-btn {
  display: none;
}

.bottom-drawer {
  position: fixed;
  z-index: 400;
  bottom: -500px;
  left: 0;
  right: 0;
  background: #3F3F3F;
  transition: bottom 0.2s;
}

.announcement-button {
  background: #F5F5F5;
  color: #888;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  display: block;
}

.bottom-drawer .button {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 0;
  font-size: 20px;
  color: rgba(255,255,255,0.8);
  padding-top: 12px;
  padding-bottom: 20px;
}

.list .item {
  padding: 20px 25px;
}

.list .item p {
  font-size: 15px;
}

.list .item h2 {
  font-weight: bold;
  margin-bottom: 6px;
}

.list .item h2 .small {
  font-size: 13px !important;
  font-weight: normal;
  color: #999;
}
