<div ng-controller="IndexController" class="bg-gray" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">

  <super-navbar>
    <super-navbar-title>
      Add Member
    </super-navbar-title>
    <super-navbar-button side="right">Invite</super-navbar-button>
  </super-navbar>

  <div class="list">
    <div class="list" style="margin-bottom: 0; padding-bottom: 15px;">
      <label class="item item-input">
        <span class="input-label">Phone</span>
        <input type="text" value="Arius">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Role</span>
        <select style="width: 100%; direction: ltr; padding-left: 10px;">
          <option>Admin</option>
          <option>Manager</option>
          <option selected>Employee</option>
        </select>
      </label>
    </div>
  </div>

  <div class="bottom-bar">
    <button class="button button-block" style="border: none; background: none; color: #488EF1; font-weight: bold;">Select from contacts</button>
  </div>

</div>
