<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Group Members
    </super-navbar-title>
    <super-navbar-button side="right">Save</super-navbar-button>
  </super-navbar>

  <div class="list">
    <li class="item item-toggle">
       Members checked-in
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    <li class="item item-toggle">
       Time Alert
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    <li class="item item-toggle">
       Join Group Request
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    <li class="item item-toggle">
       New Announcements
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
  </div>

</div>
