<div class="bg-black" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
  <super-navbar>
    <super-navbar-title>
      Start New Group
    </super-navbar-title>
    <super-navbar-button onclick="supersonic.ui.initialView.dismiss()" side="right">Done</super-navbar-button>
  </super-navbar>

  <div class="list">
    <label class="item item-input item-select">
      <span class="input-label">Wifi Router*</span>
      <select style="width: 100%; direction: ltr; padding-left: 10px;">
        <option selected>Wifi 1</option>
        <option>Wifi 2</option>
      </select>
    </label>
  </div>
</div>
