<div class="bg-yellow" ng-controller="IndexController" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;">

  <div class="bottom-bar">

    <div class="text-center">
      <img src="img/logo.png" width="260" />
      <p class="text-gray" style="font-size: 18px; margin: 20px 0 60px; line-height: 1.4em;">Welcome to SwipeIn!<br />Lets get started.</p>
    </div>

    <div class="list" style="margin-bottom: 0; padding-bottom: 15px;">
      <label class="item item-input">
        <span class="input-label">Phone*</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">First Name*</span>
        <input type="text" placeholder="This is how people identify you">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name*</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password*</span>
        <input type="password" placeholder="Minimum 6 characters">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="An alternative way to reach you">
      </label>
    </div>
    <div class="padding" style="padding-top: 0;">
      <super-navigate location="setup#welcome">
        <button class="button button-block button-dark">
          Join SwipeIn
        </button>
      </super-navigate>
      <div class="text-center text-gray"><p>By signing up you agree to the Terms of Services</p></div>
    </div>
  </div>

</div>
