<div class="bg-black" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
<super-navbar>
  <super-navbar-title>
    Start New Group
  </super-navbar-title>
</super-navbar>

<div class="list">
  <label class="item item-input">
    <span class="input-label">Group Name*</span>
    <input type="text">
  </label>
  <h5 class="text-white text-bold" style="padding: 15px 15px 5px;">SwipeIn Preference</h5>
  <super-navigate location="setup#group-wifi">
    <a class="item item-icon-right">
      Wifi Router
      <i class="icon super-chevron-right" style="font-size: 18px; color: #CCC;"></i>
    </a>
  </super-navigate>
  <super-navigate location="setup#group-location">
    <a class="item item-icon-right">
      GPS Location
      <i class="icon super-chevron-right" style="font-size: 18px; color: #CCC;"></i>
    </a>
  </super-navigate>
  <a class="item item-icon-right" onclick="supersonic.ui.initialView.dismiss()">
    Handshake
    <i class="icon super-chevron-right" style="font-size: 18px; color: #CCC;"></i>
  </a>
</div>
<div class="padding text-white">
  <p>Please choose which SwipeIn method you prefer for this group.</p>
  <p><b>Wifi Router</b> enables you to SwipeIn when your device is connected to the designated wifi.</p>
  <p><b>GPS Location</b> enables your phone GPS corresponds with the designated swipein location.</p>
  <p><b>Handshake</b> is location independent, to be acknowledge by the group manager.</p>
</div>
</div>
