<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<div class="bg-black" style="top: 0;bottom: 0; position: absolute; left: 0; right: 0;">
<div class="list">
  <a class="item item-avatar bg-black" href="#" style="border-color: rgba(255,255,255,0.05);">
    <img src="">
    <h2 style="color: rgba(255,255,255,0.9);">Venkman</h2>
  </a>
</div>
<ul class="list bg-black">
  <li class="item bg-black" onclick="supersonic.ui.drawers.close()" style="color: #FAD044; background-color: rgba(255,255,255,0.05); border-color: rgba(255,255,255,0.05);">Pizzolo</li>
  <li class="item bg-black" onclick="supersonic.ui.drawers.close()" style="color: rgba(255,255,255,0.9); border-color: rgba(255,255,255,0.05);">Torii</li>
  <li class="item bg-black" onclick="supersonic.ui.drawers.close()" style="color: rgba(255,255,255,0.9); border-color: rgba(255,255,255,0.05);">Shinjiro</li>
</ul>
<div class="bottom-bar padding">
  <super-navigate location="setup#new-group">
    <button class="button button-block button-stable button-outline" onclick="supersonic.ui.drawers.close()">
      Add new Group
    </button>
  </super-navigate>
</div>
</div>
